{% render 'partials/head.liquid' %}

<p class="title-small">VRIENDEN</p>
<h2>Maandranking - juni</h2>

<section class="maandranking-wrapper">
  <section class="heading">
      </section>

    <section class="component maand-rankings" id="Grootste-daler">
        <table class="golfer-ranking">
            <thead>
                <tr>
                    <th><a href="#Grootste-daler" class="selected">Grootste daler</a></th>
                    <th><a href="#Meeste-rondes">Meeste rondes</a></th>
                    <th><a href="#Laagste-hcp">Laagste hcp</a></th>
                </tr>
            </thead>
            <tbody class="golfer-ranking">
        {% for golfer in golfers limit: 5 %}
        {% if golfer.id == activeGolfer %}
        <tr class="activeGolfer">
        {% else %}
        <tr>
        {% endif %}
                    <th><p>{{ golfer.name }}</p><p>WHS</p></th>
                    <th><p class="handicap">{{ golfer.improvement | round: 1 }}</p></th>
                </tr>
        {% endfor %}
            </tbody>
        </table>
    </section>


      <section class="component maand-rankings" id="Meeste-rondes">
        <table class="golfer-ranking">
            <thead>
            <tr>
                <th><a href="#Grootste-daler">Grootste daler</a></th>
                <th><a href="#Meeste-rondes" class="selected">Meeste rondes</a></th>
                <th><a href="#Laagste-hcp">Laagste hcp</a></th>
            </tr>
            </thead>
            <tbody class="golfer-ranking">
                {% for golfer in golfers limit: 5 %}
                {% if golfer.id == activeGolfer %}
                <tr class="activeGolfer">
                {% else %}
                <tr>
                {% endif %}
                    <th><p>{{ golfer.name }}</p></th>
                    <th><p class="verschil">{{ golfer.handicap | round: 1 }}</p></th>
                </tr>
          {% endfor %}
        </table>
    </section>

    <section class="component maand-rankings" id="Laagste-hcp">
        <table class="golfer-ranking">
            <thead>
                <tr>
                    <th><a href="#Grootste-daler">Grootste daler</a></th>
                    <th><a href="#Meeste-rondes">Meeste rondes</a></th>
                    <th><a href="#Laagste-hcp" class="selected">Laagste hcp</a></th>
                </tr>
            </thead>
            <tbody class="golfer-ranking">
            {% for golfer in golfers limit: 5 %}
            {% assign golfer_rondes = rondes | where: 'golfer_id', golfer.id %}
            {% assign ronde = golfer_rondes | last %}

            {% if golfer.id == activeGolfer %}
            <tr class="activeGolfer">
            {% else %}
            <tr>
            {% endif %}
                <th><p>{{ golfer.name }}</p></th>
                <th><p>{{ ronde.type }}</p></th>

                <th><p class="meeste-rondes">{{ ronde.differential | round: 1 }}</p></th>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>

<!--???????????????????????????-->
    <section class="component">
      <table class="golfer-ranking">
        <thead>
          <tr>
            <th><a href="?sort=name" {% if activeSort == 'name' %}class="activeSort"{%  endif %}>golfer</a></th>
            <th><a href="?sort=handicap" {% if activeSort == 'handicap' %}class="activeSort"{%  endif %}>handicap</a></th>
            <th><a href="?sort=aantalRondes" {% if activeSort == 'aantalRondes' %}class="activeSort"{%  endif %}>meeste rondes</a></th>
            <th><a href="?sort=improvement" {% if activeSort == 'improvement' %}class="activeSort"{%  endif %}>verschil</a></th>
          </tr>
        </thead>
        <tbody>
          {% for golfer in golfers limit: 5 %}

            {% if golfer.id == activeGolfer %}
            <tr class="activeGolfer">
              {% else %}
            <tr>
              {% endif %}
              <td>{{ golfer.name }}</td>
              <td>{{ golfer.handicap | round: 1 }}</td>
              <td>{{ golfer.aantalRondes }}</td>
              <td>{{ golfer.improvement | round: 1 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </section>

  {% comment %}
    <section class="heading">
      <p class="title-small">DOEL</p>
      <h2>Naar je volgende handicap</h2>
    </section>

    <section class="component">
      <input type="number" value="10" min="1" max="54" step="0.1">
    </section>
  {% endcomment %}

 <section class="heading">
    <p>LOG</p>
    <h2>Recente rondes</h2>
  </section>

  <section class="component">
    <table class="golfer-rondes">
      <thead>
        <tr>
          <th><h3>golfbaan</h3></th>
          <th><p>datum</p></th>
          <th><p>hcp</p></th>
          <th><p>type</p></th>
        </tr>
      </thead>
      <tbody>
      {% for ronde in rondes limit: 5 %}
        <tr>
          <td><h3>{{ ronde.course }}</h3></td>
          <td><p>{{ ronde.date | date: '%d %B %Y' }}</p></td>
          <td><p>{{ ronde.differential | round: 1 }}</p></td>
          <td><p>{{ ronde.type }}</p></td>
        </tr>
      </tbody>
      {% endfor %}
    </table>


  </section>
</section>


<section class="component">

<button class="btn-ronde" id="open-form">+ Ronde</button>
<form id="ronde-form" action="/golfer/{{ golfer.id }}/score" method="POST">
    <!--<div class="fallback-form">-->
        <label for="date">
            Datum
            <input type="date" id="date" name="date" required>
        </label>

        <label for="course">
            Baan
            <input type="text" id="course" name="course" required>
        </label>

        <label for="differential">
            HCP
            <input type="number" id="differential" name="differential" step="0.1" required>
        </label>

        <label for="type">
            <input type="checkbox" id="type" name="type" value="QUAL">
            Telt mee voor handicap (QUAL)
        </label>

        <section>
            <a href="/golfer/{{ golfer.id }}" class="btn-annuleer">Annuleren</a>
            <button type="submit">Ronde opslaan</button>
        </section>
    <!--</div>-->
    <!--</div>-->
</form>
</section>

{% render 'partials/foot.liquid' %}
