{% render 'partials/head.liquid' %}

<p class="title-small">VRIENDEN</p>
<h2>Maandranking - april</h2>

<section class="maandranking-wrapper">
  <section class="heading">
    <p class="title-small">vrienden</p>
    <h3>Maand-rankings</h3>
    {% comment %}
      </section>

      <section class="component maand-rankings" id="Grootste-daler">
        <ul class="golfer-ranking">
          <li>
            <a href="#Grootste-daler" class="selected">Grootste daler</a>
          </li>

          <li>
            <a href="#Meeste-rondes">Meeste rondes</a>
          </li>

          <li>
            <a href="#Laagste-hcp">Laagste hcp</a>
          </li>
        </ul>

        <ol class="golfer-ranking">
          {% for golfer in golfers limit: 5 %}
            <li>
              <section>
                <h3>{{ golfer.name }}</h3>
                <p>WHS</p>
              </section>
              <section>
                <p class="handicap">{{ golfer.improvement | round: 1 }}</p>
              </section>
            </li>
          {% endfor %}
        </ol>
      </section>

      <section class="component maand-rankings" id="Meeste-rondes">
        <ul class="golfer-ranking">
          <li>
            <a href="#Grootste-daler">Grootste daler</a>
          </li>

          <li>
            <a href="#Meeste-rondes" class="selected">Meeste rondes</a>
          </li>

          <li>
            <a href="#Laagste-hcp">Laagste hcp</a>
          </li>
        </ul>

        <ol class="golfer-ranking">
          {% for golfer in golfers limit: 5 %}
            {% if golfer.id == activeGolfer %}

            <li class="activeGolfer">
            {% else %}
                <li>
                {% endif %}
              <section>
                <h3>{{ golfer.name }}</h3>
                <p></p>
              </section>
              <section>
                <p class="verschil">{{ golfer.handicap | round: 1 }}</p>
              </section>
            </li>
          {% endfor %}
        </ol>
      </section>

      <section class="component maand-rankings" id="Laagste-hcp">
        <ul class="golfer-ranking">
          <li>
            <a href="#Grootste-daler">Grootste daler</a>
          </li>

          <li>
            <a href="#Meeste-rondes">Meeste rondes</a>
          </li>

          <li>
            <a href="#Laagste-hcp" class="selected">Laagste hcp</a>
          </li>
        </ul>

        <ol class="golfer-ranking">
          {% for golfer in golfers limit: 5 %}
            {% assign golfer_rondes = rondes | where: 'golfer_id', golfer.id %}
            {% assign ronde = golfer_rondes | last %}

            <li>
              <section>
                <h3>{{ golfer.name }}</h3>
                <p>{{ ronde.type }}</p>
              </section>
              <section>
                <p class="meeste-rondes">{{ ronde.differential | round: 1 }}</p>
              </section>
            </li>
          {% endfor %}
        </ol>
      </section>
    {% endcomment %}

    <section class="component maand-rankings">
      <table class="golfer-ranking">
        <thead>
          <tr>
            <th>golfer</th>
            <th>handicap</th>
            <th>meeste rondes</th>
            <th>verschil</th>
          </tr>
        </thead>
        <tbody>
          {% for golfer in golfers limit: 5 %}
            {% assign golfer_rondes = rondes | where: 'golfer_id', golfer.id %}
            {% assign ronde = golfer_rondes | last %}

            <tr>
              <td>{{ golfer.name }}</td>
              <td>{{ golfer.improvement | round: 1 }}</td>
              <td>{{ ronde.differential | round: 1 }}</td>
              <td>{{ golfer.handicap | round: 1 }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </section>
  </section>

  {% comment %}
    <section class="heading">
      <p class="title-small">DOEL</p>
      <h2>Naar je volgende handicap</h2>
    </section>

    <section class="component">
      <input type="number" value="10" min="1" max="54" step="0.1">
    </section>
  {% endcomment %}

  <section class="heading">
    <p class="title-small">LOG</p>
    <h2>Recente rondes</h2>
  </section>
  <section class="component">
    <ol class="golfer-ranking">
      <li>
        <h3 class="ronde-baan">golfbaan</h3>
        {% comment %} dag-maand-jaar {% endcomment %}
        <p>datum</p>
        <p>verschil</p>
        <p>type</p>
      </li>
      {% for ronde in rondes limit: 5 %}
        <li>
          <h3>{{ ronde.course }}</h3>
          {% comment %} dag-maand-jaar {% endcomment %}
          <p>{{ ronde.date | date: '%d %B %Y' }}</p>
          <p>{{ ronde.differential | round: 1 }}</p>
          <p>{{ ronde.type }}</p>
        </li>
      {% endfor %}
    </ol>

    <button class="btn-ronde" id="open-form">+ Ronde</button>
    <form id="ronde-form" action="/golfer/{{ golfer.id }}/score" method="POST">
      <label for="date">
        Datum
        <input type="date" id="date" name="date" required>
      </label>

      <label for="course">
        Baan
        <input type="text" id="course" name="course" required>
      </label>

      <label for="differential">
        Differential
        <input type="number" id="differential" name="differential" step="0.1" required>
      </label>

      <label for="type">
        <input type="checkbox" id="type" name="type" value="QUAL">
        Telt mee voor handicap (QUAL)
      </label>
      <a href="/golfer/{{ golfer.id }}" class="btn-annuleer">Annuleren</a>
      <button type="submit">Ronde opslaan</button>
    </form>
  </section>
</section>

{% render 'partials/foot.liquid' %}
