{% render 'partials/head.liquid' %}



{% comment %} <p class="title-small">VRIENDEN</p>
<h2>Maandranking - april</h2> {% endcomment %}



{% comment %} LAAGSTE HCP {% endcomment %}
<section class="component">
    <ul class="golfer-rankings">
<li><input type="checkbox" id="grootste-daler">
<label for="grootste-daler">Grootste daler</label></li>

<li><input type="checkbox" id="Meeste-rondes">
<label for="Meeste-rondes">Meeste rondes</label></li>

<li><input type="checkbox" id="Laagste-hcp">
<label for="Laagste-hcp">Laagste hcp</label></li>
    </ul>

<ol class="golfer-ranking">
{% for golfer in golfers limit:5 %}

{% assign golfer_rondes = rondes | where: "golfer_id", golfer.id %}
{% assign hoogste_ronde = golfer_rondes | last %}


    <li>
    <section>
        <h4>{{ golfer.name }}</h4>
        <p>WHS</p> 
        {% comment %}^ dit moet dynamisch zijn op een manier? {% endcomment %}
    </section>
    <section>
        <p class="handicap">{{ golfer.handicap }}</p>
        <p class="verschil">{{ golfer.improvement }}</p>
        {% comment %} <p>{{ rondes.golfer_id }}</p> {% endcomment %}
        <p class="meeste-rondes">{{ hoogste_ronde.golfer_id }}</p>
    </section>
    </li>
{% endfor %}
<section class="heading">
<p class="title-small">DOEL</p>
<h2>Naar je volgende handicap</h2>
</section>
<section class="component">

    <span class="label">Doel Handicap</span>
    <section class="pntn-teller">
      <button class="btn" onclick="updateScore(-0.1)">−</button>
      <p class="score-display" id="score">9.6</p>
      <button class="btn" onclick="updateScore(0.1)">+</button>
    </section>

</section>
{% render 'partials/foot.liquid' %}