{% render 'partials/head.liquid' %}



{% comment %} <p class="title-small">VRIENDEN</p>
<h2>Maandranking - april</h2> {% endcomment %}



{% comment %} LAAGSTE HCP {% endcomment %}
<section class="component" id="Grootste-daler">

<ul class="golfer-ranking">
<li><a href="#Grootste-daler" class="active">Grootste daler</a>

<li><a href="#Meeste-rondes">Meeste rondes</a>

<li><a href="#Laagste-hcp">Laagste hcp</a>
</ul>

<li><input type="checkbox" id="Meeste-rondes">
<label for="Meeste-rondes">Meeste rondes</label></li>

<li><input type="checkbox" id="Laagste-hcp">
<label for="Laagste-hcp">Laagste hcp</label></li>
    </ul>

<ol class="golfer-ranking">
{% for golfer in golfers limit:5 %}

    <li>
    <section>
        <h4>{{ golfer.name }}</h4>
        <p>WHS</p> 

    </section>
    <section>
        <p class="handicap">{{ golfer.improvement | round: 1 }}</p>
    </section>
    </li>
{% endfor %}

</ol>
</section>

<section class="component" id="Meeste-rondes">
<ul class="golfer-ranking">
<li><a href="#Grootste-daler">Grootste daler</a>

<li><a href="#Meeste-rondes" class="active">Meeste rondes</a>

<li><a href="#Laagste-hcp">Laagste hcp</a>
</ul>


<ol class="golfer-ranking">
{% for golfer in golfers limit:5 %}

    <li>
    <section>
        <h4>{{ golfer.name }}</h4>
        <p>WHS</p> 
    </section>
    <section>
        <p class="verschil">{{ golfer.handicap | round: 1 }}</p>
    </section>
    </li>
{% endfor %}

</ol>
</section>

<section class="component" id="Laagste-hcp">
<ul class="golfer-ranking">
<li><a href="#Grootste-daler">Grootste daler</a>

<li><a href="#Meeste-rondes">Meeste rondes</a>

<li><a href="#Laagste-hcp" class="active">Laagste hcp</a>
</ul>

<ol class="golfer-ranking">
{% for golfer in golfers limit:5 %}

{% assign golfer_rondes = rondes | where: "golfer_id", golfer.id %}
{% assign ronde = golfer_rondes | last %}

    <li>
    <section>
        <h4>{{ golfer.name }}</h4>
        <p>{{ ronde.type }}</p> 
    </section>
    <section>
        <p class="meeste-rondes">{{ ronde.differential | round: 1 }}</p>
    </section>
    </li>
{% endfor %}

</ol>
</section>

<section class="heading">
<p class="title-small">DOEL</p>
<h2>Naar je volgende handicap</h2>
</section>
<section class="component">

<input type="number" value="10" min="1" max="54" step="0.1">

</section>

</section>
{% render 'partials/foot.liquid' %}